# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Documentation
docs/html/

# IDE-specific files (for CLion and other JetBrains products)
.idea/
*.iml
*.ipr
*.iws

# Build directories (for CMake)
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Testing/
CTestTestfile.cmake
cmake_install.cmake

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
*.bak
*.old

# Игнорировать vcpkg установленные файлы
/vcpkg_installed/
/vcpkg/buildtrees/
/vcpkg/downloads/
